<!-- **nav**  -->


<div class="row justify-content-center">
  <!-- <div class="col-1 pe-5">  -->
  <!-- **side bar**  -->
  <!-- <app-side-bar id="side-bar"></app-side-bar>  -->
  <!-- </div> -->
  <div class="col-12">
    <!-- **slider**  -->
    <app-home></app-home>

    <!-- **OWL Carousel Slide**  -->
    <app-about></app-about>

    <app-banner></app-banner>
    <!-- **GMEA Projects**  -->
    <app-projects></app-projects>
    <!-- **testimonialss**  -->
    <app-testimonials></app-testimonials>
    
    <app-footer></app-footer>
  </div>
</div>