<section class="about-header">
    <h2>GMEA <span> Projects </span></h2>
</section>

<section class="items-container container">
    <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div data-aos-anchor-placement="top-center" data-aos-duration="250" data-aos-easing="ease-in-out"
                data-aos-once="false" data-aos="fade-up" class="sessions-item">

                <!-- <div class="hover-circle">
    
          </div> -->
                <div class="w-100 text-center">
                    <span class="item-icon-span"> <i class="fa-brands fa-facebook-f"></i></span>
                </div>
                <div class="w-100 mt-4 text-center">
                    <span class="item-headLine">Project Name</span>
                </div>
                <div class="w-100 mt-2 text-center">
                    <span class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, aspernatur.</span>
                </div>



            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div data-aos-anchor-placement="top-center" data-aos-duration="500" data-aos-easing="ease-in-out"
                data-aos-mirror="true" data-aos-once="false" data-aos="fade-up" class="sessions-item">

                <div class="w-100 text-center">
                    <span class="item-icon-span"> <i class="fa-brands fa-linkedin-in"></i></span>
                </div>
                <div class="w-100 mt-4 text-center">

                    <span class="item-headLine">HEAD LINE</span>
                </div>
                <div class="w-100 mt-2 text-center">

                    <span class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, aspernatur.</span>
                </div>



            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3">
            <div data-aos-anchor-placement="top-center" data-aos-duration="750" data-aos-easing="ease-in-out"
                data-aos-mirror="true" data-aos-once="false" data-aos="fade-up" class="sessions-item">

                <div class="w-100 text-center">
                    <span class="item-icon-span"> <i class="fa-brands fa-facebook-f"></i></span>
                </div>
                <div class="w-100 mt-4 text-center">

                    <span class="item-headLine">HEAD LINE</span>
                </div>
                <div class="w-100 mt-2 text-center">

                    <span class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, aspernatur.</span>
                </div>



            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3">
            <div data-aos-anchor-placement="top-center" data-aos-duration="1000" data-aos-easing="ease-in-out"
                data-aos-mirror="true" data-aos-once="false" data-aos="fade-up" class="sessions-item">

                <div class="w-100 text-center">
                    <span class="item-icon-span"> <i class="fa-brands fa-linkedin-in"></i></span>
                </div>
                <div class="w-100 mt-4 text-center">

                    <span class="item-headLine">HEAD LINE</span>
                </div>
                <div class="w-100 mt-2 text-center">

                    <span class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, aspernatur.</span>
                </div>



            </div>
        </div>





    </div>
</section>