<nav id="myNav" class="nav-container">
    <!-- <div class="row nav-row">
        <div class="col-3 branding-logo">
            <img src="../../assets/images/logo1.png" alt="">
        </div>
        <div class="col-8 ">
            <ul class="links-menu">
                <li id="home-btn">Home</li>
                <li id="about-btn">About</li>
                <li id="service-btn">Our Service</li>
                <li id="solutions-btn">Our Solutions</li>
                <li id="industries-btn">Industries</li>
                <li id="blog-btn">Blog</li>
                <li id="contacts-btn">Contact Us</li>
            </ul>

        </div>


    </div> -->



    <nav id="light-dark-nav" class="navbar navbar-expand-lg navbar-light w-100  ">
        <div class="container-fluid d-flex p-3">
            <a class="navbar-brand branding-logo ps-5 " href="#"><img src="../../assets/images/logo1.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0 links-menu ">
                    <li class="nav-item">
                        <a id="home-btn" class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>

                    <li class="nav-item">
                        <a id="about-btn" class="nav-link" href="#">About </a>
                    </li>
                    <li class="nav-item">
                        <a id="service-btn" class="nav-link dropdown-toggle" href="#">Our Solutions <span
                                class="caret"></span> </a>
                    </li>

                    <!-- drop down => solutions and projects -->
                    <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Our Solutions
                </a>
                <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">The Solutions</a></li>
                  <li><a class="dropdown-item" href="#">Projects</a></li>
                </ul>
              </li> -->


                    <li class="nav-item ">
                        <a id="industries-btn" class="nav-link dropdown-toggle" href="#">Industries <span
                                class="caret"></span> </a>
                    </li>
                    <li class="nav-item">
                        <a id="blog-btn" class="nav-link" href="#">Blog </a>
                    </li>
                    <li class="nav-item">
                        <a id="contacts-btn" class="nav-link" href="#">Contact Us </a>
                    </li>


                </ul>

            </div>
        </div>
    </nav>
    <section id="home-modal" class="modal-container">
        this is home


    </section>

    <section id="about-modal" class="modal-container">
        this is about
    </section>

    <section id="industries-modal" class="modal-container">
        <div class="d-flex flex-nowrap justify-content-center">
            <div class="col-lg-2 industry-item  ">
                <span class="industry-icon"><i class="fa-solid fa-satellite-dish"></i></span>
                <span class="industry-text">Remote Sensing </span>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 industry-item br-l">
                <span class="industry-icon img-icon"> <img src="../../assets/images/building.png" alt=""></span>
                <span class="industry-text">Smart Buildings & Retail </span>
            </div>



            <div class="col-lg-2 col-md-3 col-sm-6 industry-item br-l ">
                <span class="industry-icon"> <i class="fa-solid fa-bus"></i> </span>
                <span class="industry-text">Transportation </span>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6 industry-item br-l">
                <span class="industry-icon"> <i class="fa-solid fa-shield-blank"></i> </span>
                <span class="industry-text">Government </span>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6 industry-item br-l">
                <span class="industry-icon"> <i class="fa-solid fa-industry"></i> </span>
                <span class="industry-text">Manufacturing </span>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 industry-item br-l ">
                <span class="industry-icon img-icon"> <img src="../../assets/images/irrigation.png" alt=""> </span>

                <span class="industry-text">Agriculture </span>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 industry-item br-l ">
                <span class="industry-icon"> <i class="fa-solid fa-gas-pump"></i> </span>
                <span class="industry-text">Oil & Gas </span>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6 industry-item br-l ">
                <span class="industry-icon"><i class="fa-solid fa-building-columns"></i></span>
                <span class="industry-text">Bank </span>
            </div>

        </div>
    </section>

    <section id="solutions-modal" class="modal-container">
        <div class="row d-flex  justify-content-center w-100">



            <!-- <p-button   label="Show"></p-button> -->

            <div class="col-lg-4 solution-item">
                <span (click)="openSupplyChain()" icon="pi pi-external-link" class="solution-text">Supply Chain
                    Automation </span>
            </div>
            <div class="col-lg-4  solution-item">
                <span (click)="openSmartEconomic()" class="solution-text">Smart and Economic Manufacturing
                    Technology </span>
            </div>
            <div class="col-lg-4 solution-item">
                <span (click)="openIntelligent()" class="solution-text">Intelligent Energy Management
                    Technology </span>
            </div>

            <div class="col-lg-4 solution-item">
                <span  (click)="openFintech()" class="solution-text">Fintech and E-payment Intelligence
                    Technology </span>
            </div>
            <div class="col-lg-4 solution-item">
                <span  class="solution-text">Livestock Management Technology </span>
            </div>

            <div class="col-lg-4 solution-item">
                <span (click)="openOperations()" class="solution-text">Excellence of operations </span>
            </div>

        </div>
    </section>
</nav>


<p-dialog header="{{modalHeader}}" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <p class="m-0">{{modalContent}}</p>
    <!-- <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template> -->
</p-dialog>