.home-container {
    min-height: 98vh;
    overflow: hidden;
    max-height: 90vh;
    // background-color: red;
    // position: static;
    position: relative;
    // background-color: rgba(0, 0, 0, 0.9);
    z-index: 999999999;
    .black-layer {
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: none;
    }
    .slide-container {
        // width: 90%;
        width: 100%;
        min-height: 98vh;
        overflow: hidden;
        max-height: 100vh;
    }
    .carousel-item {
        img {
            height: 100%;
        }
    }
}


